---
BasedOnStyle: Mozilla

AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: 'true'
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
ColumnLimit: 120
FixNamespaceComments: true
IndentWidth: 4
InsertNewlineAtEOF: true
Language: Cpp
Standard: c++17
TabWidth: 4
PenaltyBreakAssignment: 100
PointerAlignment: Right
UseTab: Never

...
